.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center; /* Aligns items horizontally in the center */
  align-items: center;     /* Aligns items vertically in the center */
  margin-right: -15px;
  margin-left: -15px;
}

.container,
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative
}

@media (min-width:576px) {
  .container {
      padding-right: 15px;
      padding-left: 15px;
      width: 540px;
      max-width: 100%
  }
  .container-fluid {
      padding-right: 15px;
      padding-left: 15px
  }
  .row {
      margin-right: -15px;
      margin-left: -15px
  }
}

@media (min-width:768px) {
  .container {
      padding-right: 15px;
      padding-left: 15px;
      width: 720px;
      max-width: 100%
  }
  .container-fluid {
      padding-right: 15px;
      padding-left: 15px
  }
  .row {
      margin-right: -15px;
      margin-left: -15px
  }
}

@media (min-width:992px) {
  .container {
      padding-right: 15px;
      padding-left: 15px;
      width: 960px;
      max-width: 100%
  }
  .container-fluid {
      padding-right: 15px;
      padding-left: 15px
  }
  .row {
      margin-right: -15px;
      margin-left: -15px
  }
}

@media (min-width:1200px) {
  .container {
      padding-right: 15px;
      padding-left: 15px;
      width: 1140px;
      max-width: 100%
  }
  .container-fluid {
      padding-right: 15px;
      padding-left: 15px
  }
  .row {
      margin-right: -15px;
      margin-left: -15px
  }
}

.rounded-circle {
  border-radius: 50%
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0
}

.nav {
    -webkit-flex-wrap: wrap
}

.nav {
    list-style: none
}

.nav-tabs {
  border-bottom: 1px solid #ddd
}

.nav-tabs .nav-item {
  margin-bottom: -1px
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-right-radius: .25rem;
  border-top-left-radius: .25rem
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #eceeef #eceeef #ddd
}

.nav-tabs .nav-link.disabled {
  color: #636c72;
  background-color: transparent;
  border-color: transparent
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #464a4c;
  background-color: #fff;
  border-color: #ddd #ddd #fff
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0
}

.nav-fill .nav-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center
}

.nav-pills .nav-item.show .nav-link,
.nav-pills .nav-link.active {
    color: #fff;
    background-color: #183149
}

.nav-justified .nav-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    text-align: center
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none
}

.nav-link {
  display: block;
  padding: .5em 1em
}

.nav-link.disabled {
  color: #636c72;
  cursor: not-allowed
}

.nav-pills .nav-link {
  border-radius: .25rem
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0
}

@media (min-width:576px) {
  .navbar-toggleable .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem
  }
}

@media (min-width:768px) {
  .navbar-toggleable-sm .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem
  }
}

@media (min-width:992px) {
  .navbar-toggleable-md .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem
  }
}

@media (min-width:1200px) {
  .navbar-toggleable-lg .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem
  }
}

.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, .5)
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, .7)
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, .3)
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open>.nav-link {
  color: rgba(0, 0, 0, .9)
}

.navbar-inverse .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .5)
}

.navbar-inverse .navbar-nav .nav-link:focus,
.navbar-inverse .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, .75)
}

.navbar-inverse .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, .25)
}

.navbar-inverse .navbar-nav .active>.nav-link,
.navbar-inverse .navbar-nav .nav-link.active,
.navbar-inverse .navbar-nav .nav-link.open,
.navbar-inverse .navbar-nav .open>.nav-link {
  color: #fff
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important
}

.align-items-center {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important
}

.mt-3,
.my-3 {
    margin-top: 1rem !important
}

.col-lg-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:576px) {
  .col-lg-3, .col-md-6, .col-sm-12 {
      padding-right: 15px;
      padding-left: 15px
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}
}

@media (min-width:768px) {
  .col-lg-3, .col-md-6, .col-sm-12  {
      padding-right: 15px;
      padding-left: 15px
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }
}

@media (min-width:992px) {
  .col-lg-3, .col-md-6, .col-sm-12 {
      padding-right: 15px;
      padding-left: 15px
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
  }
}

@media (min-width:1200px) {
  .col-lg-3, .col-md-6, .col-sm-12 {
      padding-right: 15px;
      padding-left: 15px
  }
}

.text-center {
  text-align: center !important
}

.tab-content>.tab-pane {
  display: none
}

.tab-content>.active {
  display: block
}

.pt-3,
.py-3 {
    padding-top: 1rem !important
}

.pb-3,
.py-3 {
    padding-bottom: 1rem !important
}

.pr-3,
.px-3 {
    padding-right: 1rem !important
}

.pl-3,
.px-3 {
    padding-left: 1rem !important
}

@media (min-width:576px) {
  .pr-sm-0,
  .px-sm-0 {
      padding-right: 0 !important
  }
  .pl-sm-0,
  .px-sm-0 {
      padding-left: 0 !important
  }
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear
}

.fade.show {
  opacity: 1
}

.thesaas-sections-split .section {
  margin: 30px 50px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

@media (max-width: 768px) {
  .thesaas-sections-split .section {
    margin: 30px 0 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

/* Members Tabs */

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom: 4px solid !important;
}

.nav-item:hover {
  color: #183149;
}

#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-size: 1.25em;
}

.nav > a {
  display: inline-block;
}

.p {
  font-size: 30px;
}

.primary-color {
  color: #183149;
}

.img-border {
  border: 0.2rem solid #2832c1;
}

#textshadow {
  color: white;
  text-shadow: -1px -1px 0 #272727, 1px -1px 0 #272727, -1px 1px 0 #272727,
    1px 1px 0 #272727;
}

.section {
  padding: 40px 0;
}

.container-fluid {
  padding: 0;
}

#team-container {
  width: 70%;
  margin: 0 auto;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 10px 15px;
  margin-bottom: -1px;
  color: #333;
  text-align: center;
}

.nav-tabs .nav-link.active {
  color: #2832c1;
  background-color: transparent;
}

.nav-tabs .nav-link:hover {
  color: #2832c1;
}

.tab-content {
  padding: 15px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

.tab-pane img {
  max-width: 80%;
  height: auto;
}

.object-fit-cover {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.team-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center;
  padding: 20px;
}

.team-categories {
  background-color: transparent;
  border-bottom: transparent;
}

.team-role {
  color: #183249;
}

.role-text {
  padding-top: 3px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.6;
}

.name-text {
  padding-top: 3px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.6;
}